img {
    display: block;
    width: 375px;
    margin-left: auto;
    margin-right: auto;
  }

.artwork {
    position: -webkit-sticky;
    position: sticky;
    top: -90px;
    z-index: 2;
  }

.roll {
    position: -webkit-sticky;
    position: sticky;
    top: -90px;
    z-index: 3;
  }

.square{
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  background-color: #9F2E2E;
  box-shadow: 0px 15px 20px 0px #9F2E2E;
  width: 100%;
  height: 215px;
  z-index: 1;
}

body {
      background-color: #9F2E2E !important;
  }

  marquee {
      height: 100%;
  }

  marquee img {
      width: 100px;
  }

  #tootsierolls img {
    width: 50px;
    z-index: 0;
  }

  #tootsierolls {
    position:relative;
    top:-80px;
    width:100%;
    text-align: right;
    z-index: -1;
  }
  
  #tootsierolls i {
    display: inline-block;
    z-index: 0;
    -webkit-animation: falling 9s 0s infinite;
  }
  
  #tootsierolls i:nth-of-type(2n) { -webkit-animation: falling2 9s 0s infinite; }
  #tootsierolls i:nth-of-type(3n) { -webkit-animation: falling3 9s 0s infinite; }
  
  #tootsierolls i:before {
    position: absolute;
    content: '';
    top: -80px;
    right: 9px;
  }
  
  #tootsierolls i:after {
    content: '';
    display: block;
    position: absolute;
    left: 85px;
  }
  
  #tootsierolls i:nth-of-type(n):before {
    top:-10px; right:1px;
  }
  #tootsierolls i:nth-of-type(n):after {
    left: 12px; top:-10px;
  }
  #tootsierolls i:nth-of-type(2n+1):before {
    top:-10px; right:0px;
  }
  #tootsierolls i:nth-of-type(2n+1):after {
    left: 5px; top:-10px;
  }
  #tootsierolls i:nth-of-type(3n+2):before { 
    top:-10px; right:1px;
  }
  #tootsierolls i:nth-of-type(3n+2):after { 
    top:-10px; left:8px; 
  }
  
  #tootsierolls i:nth-of-type(n)   { -webkit-animation-delay: 5.9s;}
  #tootsierolls i:nth-of-type(2n)  { -webkit-animation-delay: 0s;}
  #tootsierolls i:nth-of-type(3n)  { -webkit-animation-delay: 2.3s;}
  #tootsierolls i:nth-of-type(4n)  { -webkit-animation-delay: 6.9s;}
  #tootsierolls i:nth-of-type(5n)  { -webkit-animation-delay: 5.3s;  }
  #tootsierolls i:nth-of-type(6n)  { -webkit-animation-delay: 3.5s;}
  #tootsierolls i:nth-of-type(7n)  { -webkit-animation-delay: 2.8s;}
  #tootsierolls i:nth-of-type(8n)  { -webkit-animation-delay: 1s;}
  #tootsierolls i:nth-of-type(9n)  { -webkit-animation-delay: 6.4s;}
  #tootsierolls i:nth-of-type(10n) { -webkit-animation-delay: 5.5s;}
  #tootsierolls i:nth-of-type(11n) { -webkit-animation-delay: 1.2s;}
  #tootsierolls i:nth-of-type(12n) { -webkit-animation-delay: 4.1s;}
  #tootsierolls i:nth-of-type(13n) { -webkit-animation-delay: 1s;  }
  #tootsierolls i:nth-of-type(14n) { -webkit-animation-delay: 5.7s;}
  #tootsierolls i:nth-of-type(15n) { -webkit-animation-delay: 6s;  }
  
  #tootsierolls i:nth-of-type(n)    {transform: rotate(180deg);}
  
  #tootsierolls i:nth-of-type(n) { 
    -webkit-animation-timing-function:ease-in-out;
  }
  
  @-webkit-keyframes falling {    
      0% {
          -webkit-transform:
              translate3d(0,0,0)
              rotate(0deg);
      }   
      100% {
          -webkit-transform:
              translate3d(-250px,2500px,0)
              rotate(90deg);
      }
  } 
  @-webkit-keyframes falling3 {
       0% {
          -webkit-transform:
              translate3d(0,0,0)
              rotate(-20deg);
      }    
      100% {
          -webkit-transform:
              translate3d(0px,2500px,-320px)
              rotate(-70deg);
      }
  }
  @-webkit-keyframes falling2 {
       0% {
          -webkit-transform:
              translate3d(0,0,0)
              rotate(90deg);
      }   
      100% {
          -webkit-transform:
              translate3d(0,2500,0)
              rotate(0deg);
      }
  }

      
  
