body {
    background-image: url("./res/pages/blue\ background.png");
    font-family: 'Libre Baskerville' !important;
    font-weight: normal !important;
}

.homeText {
    font-size: 13pt;
    line-height: 40px;
    color: white;
    text-align: center;
    font-style: normal;
}

.navButtons {
    font-size: 12px;
    line-height: 50px;
    color: white;
    text-align: center;
}


.col-half-offset{
    margin-left:1%
}