body {
    background-image: url("./res/pages/blue\ background.png");
    font-family: 'Libre Baskerville' !important;
    font-weight: normal !important;
}

.homeText {
    font-size: 13pt;
    line-height: 40px;
    color: white;
    text-align: center;
    font-style: normal;
}

.navButtons {
    font-size: 12px;
    line-height: 50px;
    color: white;
    text-align: center;
}

.navButtonsPages {
    font-size: 12px;
    line-height: 50px;
    color: blue;
    text-align: center;
}

.pages {
    background: white !important;
}

.col-half-offset{
    margin-left:0%
}


.zoom {
    transition: transform .2s;;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }