body {
    background-image: url("./res/pages/blue\ background.png");
    font-family: 'Libre Baskerville' !important;
    font-weight: normal !important;
}

.homeText {
    font-size: 13pt;
    line-height: 40px;
    color: white;
    text-align: center;
    font-style: normal;
}

.navButtons {
    font-size: 12px;
    line-height: 50px;
    color: white;
    text-align: center;
}

.navButtonsPages {
    position:absolute;
    font-size: 12px;
    line-height: 50px;
    color: blue;
    text-align: center;
    z-index: 1;
}

.cityNav {
    top: 2750px;
}

.pages {
    background: white !important;
}

.col-half-offset{
    margin-left:0%
}

.pageLogo {
    position:absolute;
    top: 40px;
    right: 32%;
    width: 13%;
    z-index:10;
}

.pageBench {
    position:absolute;
    z-index: 2;
}

.pageBenchCity {
    top: -180px;
    right: 25%;
}

.pageBenchGriffintown {
    top: 110px;
    right: 5%;
}

.pageBenchPortuguese {
    top: 300px;
    right: 22%;
    width: 50%;
}

.pageBenchW {
    top:100px;
    right: 15%;
}

.pageContent {
    position:absolute;
    z-index: 1;
}


.zoom {
    transition: transform .2s;;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
  }