body {
    font: 30px/30px "Montserrat", sans-serif;
    margin-left: 20px;
    color: black;			
    text-align: left;	
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}
img{
    position:absolute;
    max-width: 100%;
    max-height: auto%;
    left:0px;
    top:0px;
    z-index:-1;
}